* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  user-select: none;
}

.splashScreen {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow: hidden;

  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.splashEnd {
  animation: splashEnd 3s forwards;
}

.splashScreen > h1 {
  align-self: flex-end;
  font-size: 40px;
  padding-bottom: 60px;
}

body {
  background: black;
  overflow: hidden;
}
.App {
  max-width: 1400px;
  width: 100%;
  display: grid;
  padding: 10px;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  left: 0;
  right: 0;
  justify-items: center;
  margin: auto;
}
article > .info {
  position: absolute;
  z-index: 1;
}

article {
  position: relative;
  overflow: hidden;
  width: 450px;
  cursor: pointer;
  height: 250px;
}
article > img {
  z-index: 0;
  height: 250px;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
  transition: 1s;
}

.info {
  display: grid;
  height: 100%;
  align-items: center;
  gap: 30px;
  align-content: center;
  text-align: center;
  transition: 1s;
}

.info > h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.info > p {
  opacity: 0;
  transition: 1s;
}

.more {
  position: absolute;
  bottom: -60px;
  width: 100%;
  display: flex;
  padding: 10px;
  background: white;
  justify-content: space-between;
  transition: 0.5s;
}

.more * {
  color: black;
}

.more > div {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

/* HOVER EVENTS */
article:hover > .info > p {
  opacity: 1;
}

article:hover > img {
  opacity: 0.7;
}

article:hover > .info {
  transform: translateY(-30px);
  opacity: 1;
}

article:hover > .more {
  bottom: 0px;
}

.loading {
  width: 100%;
  display: grid;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  z-index: 10000;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.lds-ring {
  position: relative;
  width: 80px;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  z-index: 30000;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes splashEnd {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
